* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px red solid */
}

::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#container {
    max-width: 1440px;
    font-family: 'Manrope', sans-serif;
    margin: auto;
    background-color: var(--light-grey);
}

h1,
h2 {
    font-family: 'Anton', sans-serif;
}
/* Personnalisation de la couleur de la croix */
#search-bar::-webkit-search-cancel-button,
#search-bar::-webkit-search-clear-button,
.search-bar-select::-webkit-search-cancel-button,
.search-bar-select::-webkit-search-clear-button {
    cursor: pointer;
}
