/* ************************* LISTBOX ************************* */
#recipesNumberFind{
    font-weight: 400;
    font-size: 21px;
    line-height: 31.61px;
}
#advanced-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    /* border: 1px red solid; */
}

#selects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 50px;
}

#selects h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    color: var(--black);
    letter-spacing: 1px;
}

.custom-listbox {
    width: 195px;
    background-color: white;
    border-radius: 11px;
}

.custom-listbox.open {
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

.listbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.listbox-content {
    display: none;
    width: 195px;
    overflow: hidden;
}
.listbox-content.display-block li{
    padding: 10px;
}

.listbox-content.display-block {
    display: block;
    position: absolute;
    z-index: 5;
    height: auto;
    max-height: 350px;
    background-color: white;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

#selects .fa-angle-down {
    transition: transform 0.3s;
}

#selects .fa-angle-down.open {
    transform: rotate(180deg);
}

.custom-listbox form {
    border: 1px solid var(--light-grey);
    margin: 10px;
    padding: 2px;
}

.custom-listbox button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar-select {
    padding: 5px;
    border: none;
    outline: none;
}

.options li {
    padding: 8px;
    cursor: pointer;
}

.options li:hover {
    background-color: var(--yellow);
}

.selectedItem {
    margin: 15px 0;
}

.selectedItem li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
    background-color: var(--yellow);
}

/* ************************* TAGS ************************* */
#tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px;
}

#tags li {
    display: flex;
    justify-content: space-between;
    width: 203px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.12px;
    color: var(--black);
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 17px 18px;
}

#tags button {
    border: none;
    background-color: var(--yellow);
    transition: transform 0.3s ease-in-out;
}

#tags button:hover {
    transform: translateY(-2px);
}

#tags i {
    cursor: pointer;
    font-size: 20px;
}


/* ************************* RECIPES CARDS ************************* */
#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 50px;
    padding-bottom: 200px;
}

@media only screen and (max-width: 1230px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-bottom: 100px;
    }
}
@media only screen and (max-width:921px) {
    #advanced-search {
        align-items: baseline;
    }
}

@media only screen and (max-width: 800px) {
    #cards {
        grid-template-columns: 1fr;
        padding-bottom: 50px;
    }
}
@media only screen and (max-width:425px) {
    #advanced-search {
        margin: 10px;
    }
}
@media only screen and (max-width:320px) {
    #selects {
        margin: 0;
    }
}